// import bryntum theme
@import "@bryntum/gantt/gantt.stockholm.css";

// Giving our gantt some height
body,
html {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container {
    flex: 1 1 100%;
}
